# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key
MONGODB_PRIMARY_KEY=
GIT_HUB_CLIENT_ID=
GIT_HUB_SECRET=
LOGIN_DISABLED=false