# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key
App_TOKEN=
APP_KEY=
NOT_STARTED_LIST_ID=
STARTED_LIST_ID=
DONE_LIST_ID=
