[Unit]
Description=My To-Do App
[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/ToDoApp/Devops-Course-Starter
ExecStart= /home/ec2-user/.poetry/bin/poetry run flask run --host 0.0.0.0