{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        {% for ToDo in ToDos %}
        <h1>{{ToDo.id}} {{ToDo.title}}</h1>
        <p>{{ToDo.status}}</p>

        {% endfor %}

        


      </ul>
    </div>
  </div>
  <form action="/submit" method="post">
    <div>
      <input type="text" name="title" id="title" required>
    </div>
    <div>
      <input type="submit" value="Submit!">
    </div>
  </form>

{% endblock %}