{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        <h1>To Do</h1>
        {% for to_do in lists[0].json() %}
        <li>
        <p><a href="/to_do/{{to_do.id}}"> {{to_do.name}}</a></p>
        </li>

        {% endfor %}

        <h1>Doing</h1>
        {% for to_do in lists[1].json() %}
        <li>
        <p><a href="/to_do/{{to_do.id}}"> {{to_do.name}}</a></p>
        </li>

        {% endfor %}

        <h1>Done</h1>
        {% for to_do in lists[2].json() %}
        <li>
        <p><a href="/to_do/{{to_do.id}}"> {{to_do.name}}</a></p>
        </li>

        {% endfor %}

        


      </ul>
    </div>
  </div>
  <form action="/add_item" method="post">
    <div>
      <input type="text" name="title" id="title" required>
      <input type="submit" value="Submit!">
    </div>
  </form>

{% endblock %}