{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<header>
  <style type="text/css">
    .collumn {
      float: left;
      width: 33%;
    }
  </style>
</header>

<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="collumn">
        <h2>Items</h2>
      </div>
      <div class="collumn">
        <form action="/add_item" method="post">
          <div>
            <input type="text" name="title" id="title" placeholder="Add new item" required>
            <input type="submit" value="Submit!">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <!-- List the todo items here -->
      <div class="collumn">
        <h2>Not Started</h2>
        {% for to_do in lists.to_do_items%}
        <ul class="list-group mb-4">
          <li>
            <h3><a href="/to_do/{{to_do.id}}"> {{to_do.name}}</a></h3>
          </li>
        </ul>
        {% endfor %}
      </div>
      <div class="collumn">
        <h2>Started</h2>
        {% for to_do in lists.doing_items%}
        <ul class="list-group mb-4">
          <li>
            <h3><a href="/to_do/{{to_do.id}}"> {{to_do.name}}</a></h3>
          </li>
        </ul>
        {% endfor %}
      </div>

      <div class="collumn">
        <h2>Done</h2>
        {% if lists.done_items|length < 5 %}
          {% for to_do in lists.done_items%}
          <ul class="list-group mb-4">
            <li>
              <h3><a href="/to_do/{{to_do.id}}"> {{to_do.name}}</a></h3>
            </li>
          </ul>
          {% endfor %}
        {%endif%}

        {% if lists.done_items|length >= 5 %}
          {% for to_do in lists.recently_done_items %}
          <ul class="list-group mb-4">
            <li>
              <h3><a href="/to_do/{{to_do.id}}"> {{to_do.name}}</a></h3>
            </li>
          </ul>
          {% endfor %}
        {% endif %}




      </div>
    </div>
  </div>

  {% endblock %}